* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* main conatiner */
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* calcultor conatiner */
.calculator {
  background-color: whitesmoke;
  border: 2px solid black;
}

/* each input feild */
.calculator form input {
  border: none;
  outline: none;
  background-color: rgb(156, 155, 155);
  cursor: pointer;
  width: 100px;
  height: 80px;
  font-size: 35px;
  margin: 1px;
  transition: 0.2s;
  font-weight: bolder;
}

/* input display feild */
.calculator form .calculate-value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator form .calculate-value input {
  text-align: right;
  flex: 1;
  padding: 20px 10px;
  font-size: 50px;
  letter-spacing: 1px;
  background: none;
  cursor: text;
  height: 100px;
  margin: 0;
  background-color: rgb(71, 71, 71);
  color: white;
}

/* control buttons */
.calculator form .control-btn {
  background-color: rgb(220, 145, 6);
  color: whitesmoke;
}
